#hslNav .hslNavContainer {
  display: none !important;
}
nav {
  background-image: url('logo.png') !important;
  margin-left: 20px;
  margin-top: 30px;
  width: 223px;
  height: 54px;
}
.da-review-action, .da-review-action-button {
  background-image: url('edit-pen.png') !important;
  color: transparent;
  max-height: 32px;
  max-width: 36px;
}
