.hslNavLogoImage {
  background-image: url('http://probiar.com.ar/images/logo.png');
  position: absolute;
  width: 16.2%;
  height: 7%;
}

#hslNav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 300px;
  height: 117px;
}

